:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
}

:root {
    --Font-size: 18px;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    background-color: var(--Dark-cyan);  


    background-image: url('/images/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: -70%;
    background-size: auto;
   
}

main {
    background-image: url('/images/bg-pattern-top.svg');
    background-repeat: no-repeat;
    background-size: contain;

    background-position-x: 30%;
    background-position-y: -230px;
}

.card-container {
    max-width: 1440px;
    margin: 0 auto; 
    display: grid;
    place-items: center;
    height: 80vh;

    
}

.card {
    background-color: white;
    width: 350px;
    max-height: 100%;
    border-radius: 20px;
}

.card_header {
    background-image: url('/images/bg-pattern-card.svg');
    height: 140px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card_body {
    color: rgb(0, 0, 0);
    border-bottom: 1px solid #E7E7E7;
    height: 144px;
}

.card_body img {
    position: relative;
    top: -50px;
    margin: 0 auto;
    border-radius: 50%;
    border: 4px solid #FFFFFF;
}

.card_body h1 {
   padding-top: 20px;
   margin-top: -50px;
   text-align: center;
   font-size: 18px;
}

.card_body h1 span { color: var(--Dark-gray); font-weight: 400; }

.card_body p {
   text-align: center;
   padding-top: 5px;
   padding-bottom: 20px;
   color: var(--Dark-gray);
}

.card_footer {
    height: 92px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    place-items: center;
}

.info-item p {
    font-weight: 700;
    color: #2D3248;
    margin-bottom: 5px;
}

.info-item span { color: var(--Dark-gray);}

.attribution p, a { font-size: 16px; text-align: center; color: #FFFFFF; }
.attribution a { text-decoration: underline; }
.attribution a:hover{ color: var(--Very-dark-desaturated-blue); }