html, body, p, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* font-family: 'Karla', sans-serif; */

:root {
    --Cyan-color: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}

body {
    background-color: var(--Light-Gray);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

.main {
    display: grid;
    place-items: center;
    height: 100vh;
}

.card {
    display: grid;
    margin: 0 auto;
    max-width: 635px;
    grid-template-areas: 'MinhaArea MinhaArea';
    grid-template-columns: 1fr 1fr;
}


.card-header {
    background-color: #FFF;
    grid-area: MinhaArea;
    padding: 45px 40px 40px 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-header h1 {
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    color: var(--Cyan-color);
}

.card-header h2 {
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    color: var(--Bright-Yellow);
    margin-top: 20px;
    margin-bottom: 10px;
}

.card-header p {
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    color: var(--Grayish-Blue);
}

.card-left {
    background-color: var(--Cyan-color);
    padding: 45px 40px 40px 40px;
    border-bottom-left-radius: 5px;
}

.card-left h2 {
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    color: var(--Light-Gray);
    margin-bottom: 15px;
}

.card-left h3 span {
    font-size: 36px;
    line-height: 1;
    font-weight: 700;
    color: var(--Light-Gray);
    vertical-align: middle;
    margin-right: 15px;
}

.card-left h3 {
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: var(--Light-Gray);
}

.card-left p {
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: var(--Light-Gray);
    margin-top: 10px;
}

.card-left .button {
    margin-top: 30px;
    border-radius: 5px;
    background: var(--Bright-Yellow);
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 1;
    color: var(--Light-Gray);
    box-shadow: 0px 10px 20px 5px #25A39F;
}

.card-right {
    background-color: #4ABEBD;
    padding: 45px 40px 40px 40px;
    border-bottom-right-radius: 5px;
}

.card-right h2 {
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    color: var(--Light-Gray);
    margin-bottom: 15px;
}

.card-right p {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: var(--Light-Gray);
}


.attribution { 
    font-size: 1rem; 
    text-align: center; 
    color: var(--Grayish-Blue);  
    position: relative;
    bottom: 50px;
}
.attribution a { 
    color: var(--Cyan-color);  
}

.attribution a:hover { color: var(--Bright-Yellow); }