.different h2::before {
  content: "";
  display: block;
  height: 2px;
  width: 100px;
  background-color: var(--Dark-Grayish-Violet);
  margin-bottom: 30px;
}

.different {
  padding-top: 273px;
  padding-bottom: 80px;
}

.different h2 {
  font-size: 60px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  margin-bottom: 50px;
}

.different-items {
  display: flex;
  flex-wrap: wrap;
}

.different-item {
  flex: 1;
}

.different-item img {
  width: 56px;
}

.different-item h3 {
  font-family: "DM Serif Display", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.04em;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--Very-Dark-Violet);
}

.different-item p {
  font-family: "Karla", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  max-width: 38ch;
  color: var(--Very-Dark-Violet);
}

/* CTA how we work */
.cta {
  margin-top: 80px;
  padding: 40px;
  background-color: var(--Dark-Violet);
  background-image: url("/public/images/bg-pattern-how-we-work-desktop.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  /* background-position-y: top; */
  background-size: contain;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.cta h4 {
  font-family: "DM Serif Display", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  color: var(--Very-Light-Gray);
}

.cta-btn {
  color: var(--Very-Light-Gray);
}

.cta-btn:hover {
  background-color: var(--Very-Light-Gray);
  color: var(--Very-Dark-Violet);
  border-color: var(--Very-Light-Gray);
}
