/*  estilos para tablet */

@media (min-width: 769px) and (max-width: 990px) {
  .container {
    max-width: 700px;
  }

  .views ul {
    padding: 8px;
  }

 
}

/* estilos para celular */

@media (max-width: 768px) {
  .container {
    max-width: 375px;
    margin: 120px auto 0 auto;
  }

  .flex1 {
    max-width: 375px;
    flex-direction: column;
  }

  .flex1 div h1 {
    text-align: center;
  }

  .flex1 div p {
    text-align: center;
    max-width: 340px;
    margin: 0 auto 60px auto;
  }

  #right50, #right100 {
    position: static;
  }

  .flex2 {
    flex-direction: column;
  }

  .card-item {
    margin: 0;
  }

  .views ul {
    text-align: center;
  }

  .views ul li {
    padding-top: 10px;
  }

  .attribution {
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    margin: 70px auto 37px auto;
    max-width: 190px;
  }
}